@import url('https://code.getmdl.io/1.3.0/material.blue_grey-blue.min.css')

td
  span.icon
    display: inline-block
    width: 16px
    background-color: #cccccc
    border-radius: 4px
    margin-left: 2px
    margin-right: 2px
    text-align: center

for w in (16..256)
  span.box-{w}
    display: inline-block
    width: (w)px
    line-height: 18px
    border-radius: 4px
    padding: 3px
    text-align: center

table
  tfoot
    .table-cell
      display: table-cell
      vertical-align: middle
      padding: 12px

.full-width
  width: 100% !important
  margin-left: 0px !important
  margin-right: 0px !important

.mdl-card__title
  padding-top: 8px
  padding-bottom: 10px

.mdl-card__title-text
  font-size: 18px

tab-height = 36px
.mdl-tabs__tab-bar
  height: tab-height

.mdl-tabs__tab
  height: tab-height
  line-height: tab-height
  font-size: 18px
  text-transform: none

table-row-height = 40px
.mdl-data-table tbody tr
  height: table-row-height

.mdl-data-table td
  height: table-row-height
  padding: 8px
